.idea/

docker-compose.override.yml
.env.local

venv/
app/__pycache__/
__pycache__/

client/docker-compose.override.yml
client/.env.local

client/node_modules/

client/logs
client/*.log
client/npm-debug.log*

